<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navbar.ejs')%>
<div class="container">
  <hr />
  <div class="card mt-4">
    <div class="card-header">
      <h2>Atualizar usuário</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/users/update">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="email@exemplo.com"
          value="<%=user.email%>"
        /> <br>
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="**********"
        /><br>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%-include('../../partials/footer.ejs')%>
